body, html {
  background-color: lightblue;

  h1 {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px;
  }
}

img {
  width: 120px;
  border: 1px solid #000;
  margin: 10px;
}