html
  head
    include includes/head.pug
    title Homepage

  body
    h1 Begin Website
    img(src="img/icon_img.jpg")
    hr
    p 
      Begin The paragraph 
      span(data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Some more information here.") important information
      end the sentence here

    include includes/footer.pug